[2020-09-28 22:58] JosephGoelz opened #3 "Compilation fails for snowflake destinations"
When I attempt to run the zendesk_ticket_metrics model and all upstream models
dbt run -m +zendesk_ticket_metrics

The job fails with the following error

Database Error in model stg_zendesk_group (models/stg_zendesk_group.sql)
  001003 (42000): SQL compilation error:
  syntax error line 5 at position 33 unexpected 'group'.
  syntax error line 7 at position 0 unexpected ')'.
  compiled SQL at targ

[2020-09-28 23:21] fivetran-kristin commented on #3
@JosephGoelz thanks for letting us know! I'll look into how to fix this and push an update soon.

Did you run into any other errors, or were you able to successfully get the package to run after modifying the `src_zendesk.yml` file locally?

[2020-09-28 23:28] JosephGoelz commented on #3
Everything looked good apart from this one issue, thank you

On Mon, Sep 28, 2020, 4:21 PM Kristin Bagnall <notifications@github.com>
wrote:

[2020-09-29 19:45] fivetran-kristin commented on #3
@JosephGoelz I have a fix for this, yet haven't pushed it to master yet.  I've tested on my side, but can you please test as well to make sure it works on your side?  The fix has been pushed to our zendesk source package, on branch fix_keyword.  Please install only that package and see if it runs without error.  Thanks!

[code]

[2020-09-29 20:54] JosephGoelz commented on #3
This worked! Everything ran without an error.

[2020-09-29 22:25] fivetran-kristin commented on #3
Great, thanks for testing! I'll create a new release for this fix soon.

[2020-10-08 23:12] JosephGoelz commented on #3
Hello, following up.
Will the fix be released soon?

[2020-10-08 23:19] fivetran-kristin commented on #3
We're working on a couple other improvements to include in this release. It should be ready early next week.

[2020-11-02 22:12] prestonhsiao opened #4 "Reply/resolution times in business hours not matching up with Zendesk"
When comparing reply/resolution times in business hours from the zendesk_ticket_metrics model to those in Zendesk Explore or the Zendesk Support API, the metrics do not match for the majority of tickets.

A couple of issues:
1. Time in business hours is calculated in both dbt and Zendesk, but does not match
2. Time in calendar and business hours is calculated in Zendesk, but time in business hours

[2020-11-02 23:17] fivetran-kristin commented on #4
Hi @prestonhsiao thanks for this info.  This is very interesting to hear. Can you please provide me some examples of times when this isn't calculating correctly? I'd love to dig in further... perhaps we can get on a call and troubleshoot together?  You can book time with me here: http://5tran.co/office-hours

[2020-11-02 23:43] prestonhsiao commented on #4
Hi @fivetran-kristin I just booked a time for next week. In the meantime, here are some examples (**zendesk** being a direct export from Zendesk Explore, and **dbt** being from the dbt zendesk_ticket_metrics model):

### 1. Mismatching dbt first reply time (hrs) business hours

- zendesk first reply time (hrs) calendar hours: 90.01
- zendesk first reply time (hrs) business hours: 53.8
- dbt first

[2020-11-02 23:52] fivetran-kristin commented on #4
@prestonhsiao thanks. It's going to be a little hard for me to dig in without access to your data. I can open some additional availability for this week if you'd like to meet earlier than this coming Monday. Let me know what time/date works for you and I'll try to accommodate.

[2020-11-03 00:04] prestonhsiao commented on #4
@fivetran-kristin thank you for trying to accommodate! Would you have a 30 min time block from 10 - 5 on Wednesday or 12 - 5 on Thursday?

[2020-11-03 00:17] fivetran-kristin commented on #4
Yeah, of course. Would love to figure out what's going on here asap.  I rescheduled our mtg to 10:30am on Wednesday.

[2021-01-15 06:19] unnelt opened #6 "Config variables values can't be found"
Good day

The package execution fails when it tries to execute models that have the following line (one such model is models/sla_policy/agent_work_time_breach/agent_work_time_business_hours_breached.sql):

{{ config(enabled=enabled_vars(['using_sla_policy','using_schedules'])) }}

I've tried to manually set these variables to 'true' in my project's dbt_project.yml file but the package still fails

[2021-01-15 17:13] fivetran-kristin commented on #6
@unnelt thank you for creating an issue.  Can you please share a screenshot of the current version of your both your dbt_project.yml and your package.yml files? This will help me better figure out what's going on.

[2021-01-18 11:06] unnelt commented on #6
Hi Kristin...My apologies for the late reply. Please find attached, on the left is the version from the dbt_project.yml file and on the right the same from the packages.yml file
![screenshot](https://user-images.githubusercontent.com/77478958/104907545-ec05dc80-598d-11eb-8627-b3c35fc7107a.png)

[2021-01-19 22:51] fivetran-kristin commented on #6
@unnelt I tried to recreate this error, but had no luck.  Would you be open to scheduling some time for us to debug together?

You can book 15 minute mtgs with me using the following link: http://5tran.co/office-hours

[2021-01-20 07:35] unnelt commented on #6
Hi @fivetran-kristin  I checked the calendar and the available slots translate to between 9pm and 10pm this side (GMT+2). That's fairly late actually. Any other suggestion you have please?

[2021-01-20 19:25] jeffthink commented on #3
Hey folks - I also have this same issue with Snowflake. Is it possible to get a minor fix version bump with the change so that we can use this package?

Thanks!

[2021-01-22 16:58] fivetran-kristin commented on #6
@unnelt - perhaps can you send me a screen recording of all the steps you're making and the resulting error? Hopefully that'll be enough information to help.

[2021-01-25 04:33] unnelt opened #8 "Additional fields required in the ticket_metrics model"
Hi

Will you kindly include the below fields in the ticket_metrics model of the dbt package?

•	assigned_at
•	assignee_stations
•	assignee_updated_at
•	group_stations
•	initially_assigned_at
•	last_comment_added_at
•	replies
•	reopens
•	requester_updated_at
•	status_updated_at
•	agent_wait_time_in_minutes__business
•	agent_wait_time_in_minutes__calendar
•	reply_time_in_minutes__business
•	reply_ti

[2021-01-26 01:03] fivetran-kristin opened #9 "Zendesk Ticket field history null value for tomorrow"
Null values for either today or tomorrow. Need to dig in here and fix

[2021-01-27 20:04] fivetran-kristin commented on #4
Discussed what is going on here and Preston is happy using the logic in the package.  Will consider adding both options in the future, however I'm going to close this issue for now.

[2021-01-27 20:04] #4 closed

[2021-01-27 20:32] fivetran-kristin commented on #8
Hey @unnelt, thanks for the request. We'll work on getting these added during our next sprint. You can expect this to be ready by mid-Feb :)

In the meantime, I have a few questions for you:
• assigned_at - do you want when the ticket was first assigned, or last assigned?
• assignee_stations - just researched this and it looks like "assignee stations" is the number of assignees that have been assi

[2021-01-28 05:05] unnelt commented on #8
Hi @fivetran-kristin thanks for your reply. My colleague who is able to answer your first set of questions (as she has more business knowledge around Zendesk data) is on leave and will only be back on Monday. I'll forward your query to her and we'll provide feedback as soon as she's back to the office.

With regards to your second question, I'm only able to find the fields that end with '_calendar

[2021-01-28 11:49] unnelt commented on #8
Hi @fivetran-kristin I was able to find answers to your first set of questions. Please see below:

• assigned_at - do you want when the ticket was first assigned, or last assigned? **Answer: This is the last assigned, there is another field initially_assigned_at which contains the first timestamp of assignment.**
• assignee_stations - just researched this and it looks like "assignee stations" is t

[2021-01-28 21:39] fivetran-kristin commented on #3
we're in the process of publishing our new releases.  You'll be able to upgrade soon! Thanks for the patience :)

[2021-01-28 21:39] fivetran-kristin commented on #6
@unnelt just following up here.  We're you able to figure this out? If not, can you send over a video for me to help debug?

[2021-01-29 10:02] unnelt commented on #6
Hi @fivetran-kristin  I was able to resolve this. I'll close the issue. My apologies for not keeping you posted. Thanks again for your assistance.

[2021-01-29 10:02] #6 closed

[2021-01-29 17:09] fivetran-kristin commented on #3
Please upgrade to the latest version, which fixes this issue.

[code]

[2021-01-29 17:09] #3 closed

[2021-02-05 17:56] bbirand opened #10 "Disabling Zendesk Schedules doesn't work"
We don't use Schedules in Zendesk, so I set the variable `using_schedules` to `False`.

However, this package still doesn't compile, with the following error
[code]

The table `TICKET_SCHEDULE` in fact does not exist. Shouldn't setting the `using_schedules` make up for this?

[2021-02-05 18:15] fivetran-kristin commented on #10
Hi @bbirand - can you please share a screenshot of your `dbt_project.yml` file for me to see how you've configured this?

Thanks!

[2021-02-05 18:23] bbirand commented on #10
<img width="605" alt="image" src="https://user-images.githubusercontent.com/334435/107073377-4dfb7a00-67b5-11eb-9baa-181d38eacf2a.png">

[2021-02-05 19:13] fivetran-kristin commented on #10
Ah, so you will need to also disable these models in the zendesk source model, as outlined [here](https://github.com/fivetran/dbt_zendesk#disabling-models).
[code]

As an alternative, you can define this as a global variable, so that you don't need to repeat the configuration.  Here's an example of how to do that:

[code]

Keep me posted on how it goes! Good luck :)

[2021-02-05 19:22] bbirand commented on #10
Ah got it! I knew I was missing something!

Shouldn't the `zendesk_source` variable point to the `zendesk` variable? I think that's how I missed this the first time around. Namely on this row:
https://github.com/fivetran/dbt_zendesk_source/blob/010b1398a278eac952db68f21604eb6b1eb2cd1e/dbt_project.yml#L24

[2021-02-05 19:32] fivetran-kristin commented on #10
Nice, happy that worked for you.

The `zendesk` package does have a dependency on the `zendesk_source` package so you're automatically using both if you use the `zendesk` package.

However, we needed to declare variables in both, and the way dbt is configured requires us to specify the project name as so:
[code]
We use the variable in both projects/packages, and therefore need to define for each.

[2021-02-05 19:32] #10 closed

[2021-02-15 23:56] fivetran-kristin commented on #8
Thanks, @unnelt! We are currently in the process of working on this.  We'll update this issue once the fields have been added.

[2021-02-26 01:53] fivetran-kristin commented on #8
Hi @unnelt, thanks for your patience here! We've updated the package, and our latest package version contains all of the requested fields.

Please note a few things:
1. You will need to upgrade your package to version 0.2.0. You will be able to do this, once this update is pushed to dbt's hub (I expect it will be pushed in the next 12-24 hours.  You can check [this page](https://hub.getdbt.com/fiv

[2021-02-26 22:53] fivetran-kristin commented on #9
Fixed in latest release

[2021-02-26 22:53] #9 closed

[2021-03-01 08:36] unnelt commented on #8
Hi @fivetran-kristin

Thanks for the above feedback. Much appreciated. I've checked the dbt hub and it shows that the latest version of the package is still 0.1.1. Do you have any idea as to when they'd perhaps release version 0.2.0 you referred to above?

Teddy

[2021-03-02 15:27] fivetran-joemarkiewicz commented on #8
Hi @unnelt I was keeping an eye on the dbt hub yesterday and noticed they didn't update it until mid day CST. If you check again you should be able to see v0.2.0 of the [zendesk](https://hub.getdbt.com/fivetran/zendesk/latest/) and [zendesk_source](https://hub.getdbt.com/fivetran/zendesk_source/latest/) packages are now live on the hub.

[2021-03-03 07:32] unnelt commented on #8
Hi @fivetran-joemarkiewicz thanks for this. We had also been advised of this and were updated as soon as the packages went live on the hub...Thanks

[2021-03-03 07:34] unnelt commented on #8
Hi @fivetran-kristin & team..thank you guys very much for assisting in getting this issue resolved. It's much appreciated. We now have all the Zendesk ticket_metrics we need for our analytics.

[2021-03-03 07:34] #8 closed

[2021-03-18 19:54] fivetran-joemarkiewicz opened #23 "Postgres compatibility and minor bug fixes"
Updates required in this Issue include:

Remove trailing comma to avoid run failures with user tags disabled.
https://github.com/fivetran/dbt_zendesk/blob/11357f40aa5f0a7661c7505ab3db08c186ecba98/models/zendesk__ticket_enriched.sql#L116

Address the below Postgres compatible failures in the below models:
- [int_zendesk__calendar_spine](https://github.com/fivetran/dbt_zendesk/blob/master/models/uti

[2021-04-07 12:04] austin-home opened #25 ""Business Minute" metrics don't take into account daylight savings"
Hi there,

I'm hope I'm missing something, but it appears this package doesn't include Fivetran's `DAYLIGHT_TIME` and `TIME_ZONE` tables, when converting `SCHEDULES` from UTC. I've noticed after some QA on tickets created before the most recent daylight savings time, that historical business minute calculations appear to be based off the _current_ date's time zone offset.

I'm referring to these t

[2021-04-07 16:56] fivetran-kristin commented on #25
Hey @austin-home, this package was designed to only use times that are in UTC for all calculations.  We don't make use of the daylight time or any timezone offset fields.

Can you confirm whether the ticket_field_history.updated field (from your raw Fivetran data) is in UTC?

[2021-04-08 07:48] austin-home commented on #25
Hi @fivetran-kristin - confirmed that field is in UTC.

Doesn't this potentially affect all business minute metrics (not within the current date's time zone offset)? This is important for us because we have 60 minute SLAs which now seem incorrectly calculated if their timestamps overlap with the beginning or end of local time business hours. Do you know how others are dealing with this?

[2021-04-08 21:40] fivetran-kristin commented on #25
This is the first time this has been brought to my attention, so I'm not sure if others are experiencing this issue.

My understanding is that this shouldn't be a problem because we are using UTC times across all calculations.

Do you want to set up some time to talk and dig into a specific example of where this is happening together?  I think that'll be the best way to troubleshoot.

Book some ti

[2021-04-09 11:05] austin-home commented on #25
Hey @fivetran-kristin,

While creating a specific example for us to troubleshoot, I think I've confirmed that you're right. I'll close for now, sorry for the false alarm!

[2021-04-09 11:05] #25 closed

[2021-04-26 20:03] mjirv opened #27 "Integer overflow error with zendesk__ticket_backlog model on Redshift"
Hi all. We are trying to set up the Zendesk package but running into an error. When running the `zendesk__ticket_backlog` model, we get an Integer Overflow error message. It looks like our Zendesk user ID is a bigint, but there is logic in the package casting the field to Integer during a join.

We are on Redshift. Full error message is below:

[code]

I can fix locally by removing the `cast(... a

[2021-04-28 14:57] fivetran-joemarkiewicz commented on #27
Hi @mjirv, thanks for opening this issue. I was able to add the same integer value you provided in the error into my redshift data and was able to replicate the same error.

The reason for the casting of the ids is because we noticed some id datatypes are not consistently converted to integer datatypes following the `int_zendesk__field_history_pivot` logic. In order to ensure our joins do not fail

[2021-04-29 13:45] mjirv commented on #27
@fivetran-joemarkiewicz that worked perfectly! Thank you for taking a look at this so quickly.

[2021-04-29 14:01] fivetran-joemarkiewicz commented on #27
That's great to hear! I just opened a PR #28 to address these changes!

[2021-04-29 16:12] fivetran-joemarkiewicz commented on #27
@mjirv We just cut a new release of the package (`v0.4.1`) which includes this change. The release should be live later today on the dbt hub.

Closing this issue as it has been resolved. Thanks again for opening the issue!

[2021-04-29 16:12] #27 closed

[2021-05-17 17:20] jordstew opened #30 "QUESTION - Zendesk__ticket_backlog not working because of invalid identifier ASSIGNEE_ID"
**Are you a Fivetran customer?**
Yes. Jordan Stewart. Sr Data Engineer. Workrise

**Your Question**
We have been using the Zendesk and Zendesk Source dbt hub packages since the first version was released. We now are trying to upgrade to the newest Zendesk package version, as two new tables are available and we would like to be up to date in general with these packages.

Our issue is with building

[2021-05-17 18:00] fivetran-joemarkiewicz commented on #30
Hi @jordstew thanks for opening this Question! I am sorry to hear you have run into an error on the `zendesk__ticket_backlog` model.

This package is intended to run without variable configuration (apart from possibly disabling models if you do not have the table), which is strange to see you are running into an error like this. I just tested this quickly on my end to ensure my models would succee

[2021-05-17 19:58] jordstew commented on #30
Hey @fivetran-joemarkiewicz , that does not work, still same error:

Completed with 1 error and 0 warnings:

Database Error in model zendesk__ticket_backlog (models/zendesk__ticket_backlog.sql)
  000904 (42000): SQL compilation error: error line 644 at position 35
  invalid identifier 'TICKET_FIELD_HISTORY.ASSIGNEE_ID'
  compiled SQL at target/run/zendesk/models/zendesk__ticket_backlog.sql

When I

[2021-05-17 21:42] fivetran-joemarkiewicz commented on #30
Hmm my variable config looks very similar to yours, but I am unable to replicate the error. Would you be able to clarify which version of the package you are using?

Looking at your past comments I noticed the models are CTE's, whereas for me they are materializing as tables. I also see your error line for the backlog model is at line 644, while my backlog model target only contains ~70 lines?

[2021-05-18 14:32] jordstew commented on #30
Would it help if I sent you the compiled query for reference? I am using version 0.4.1

[2021-05-18 15:40] fivetran-joemarkiewicz commented on #30
As it seems the compiled query is extremely long, I feel it would probably be best if we would be able to debug this live.

You can schedule some time to chat with myself and members of our team on our [Calendly](https://calendly.com/fivetran-solutions-team/fivetran-solutions-team-office-hours?month=2021-05) link for Thursday so we can debug live and hopefully get the package running successfully

[2021-05-18 19:39] jordstew commented on #30
Hey Joe I figured it out. So for the first version of zendesk hub and zendesk source hub, we did the following in our dbt_project.yml:

[code]

we did this because we want the models to be materialized as tables instead of views. this worked for the first version of the zendesk hub, but now having this line about all other materializations being ephemeral seemed to break it:

[code]

having this w

[2021-05-18 19:56] fivetran-joemarkiewicz commented on #30
That's great to hear you were able to get the package to work with the materialization update to the some of those intermediate models.

That also explains the large compile code length. Thanks again for opening this issue and for letting us know you were able to come to a resolution, as such I will close this issue.

[2021-05-18 19:56] #30 closed

[2021-05-19 11:12] MarkMacArdle opened #31 "BUG - resources exceeded error caused by an order by"
**Are you a current Fivetran customer?**
Mark MacArdle, Bought by Many

**Describe the bug**
An `order by` in the `stg_zendesk__ticket_field_history` model is causing a resources exceed error

**Steps to reproduce**
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Project variables configuration**

[code]

**Package Version**
[code]

**Warehouse**

[2021-05-19 11:16] MarkMacArdle commented on #31
Ah, meant to raise this in the `zendesk_source` repo 🙄

[2021-05-19 11:16] #31 closed

[2021-05-28 07:32] fivetran-kristin commented on #23
addressed in version 0.5.0

[2021-06-07 20:51] matthew-skinner opened #32 "BUG - Touch Resolution Logic"
**Are you a current Fivetran customer?**

Matthew Skinner, Data Analytics Architect, Pluralsight, Inc

**Describe the bug**

When calculating "is_one_touch_resolution" and "is_two_touch_resolution" in model int_zendesk__comment_metrics the cte "final" is selecting  these two columns as count_internal_comments where it should be count_agent_comments.

This produces an undesired count for what is co

[2021-06-07 21:46] fivetran-joemarkiewicz commented on #32
Hi @matthew-skinner 👋 thanks for opening this Issue and catching this error in the intermediate model.

After taking a look at the data I would agree with your issue description and how this is causing incorrect multi-touch metrics. It seems like this would be a relatively easy fix to this and the downstream models to capture the correct agent count for the metric. I noticed you said you would be

[2021-06-08 21:39] matthew-skinner commented on #32
I have the fix ready, but am getting a 403 unauthorized for the repo.

Thanks,

MS

On Mon, Jun 7, 2021 at 4:46 PM Joe Markiewicz ***@***.***>
wrote:

[2021-06-11 16:57] annichia opened #35 "BUG - large first_reply_time_business_minutes on tickets with no replies"
**Are you a current Fivetran customer?**
Maria Riolo, Data Analyst, Zearn

**Describe the bug**
In tickets with no replies, first_reply_time_business_minutes defaults to "business minutes from ticket creation to current time + 1000 hrs."

**Steps to reproduce**
1. Run normally on data including tickets with no replies
4. See errors in the first_reply_time_business_minutes column of zendesk__ticket

[2021-06-11 21:15] fivetran-joemarkiewicz commented on #35
Hi @annichia thanks for opening this ticket!

After looking over your Issue it clearly seems like this is unintended behavior of the package. The additional context you provided is fantastic and will definitely help us resolve this issue in a timely manner! We are currently coming to the end of this sprint and will plan for this Issue to be addressed in the next sprint (starting mid next week). As

[2021-06-14 17:06] annichia commented on #35
Thanks, great to hear!

[2021-06-16 14:30] fivetran-joemarkiewicz commented on #32
@matthew-skinner thanks for again for contributing to our Zendesk package! I am excited to let you know that I have just cut the `v0.5.1` release of the dbt_zendesk package which includes the updates from your PR.

The release should be live by either today or tomorrow on the [dbt hub](https://hub.getdbt.com/fivetran/zendesk/latest/). With the latest release this Issue has been addressed and I wil

[2021-06-16 14:30] #32 closed

[2021-06-23 16:29] fivetran-joemarkiewicz commented on #35
Hi @annichia I was working on this request and think the issue you are seeing may actually have stemmed from Issue #32. Essentially the logic for tracking agent comments was capturing ALL agent comments and not just public ones. Therefore, some tickets that had no public response were still being logged as a response time because there were internal comments.

I have confirmed this bug on my end u

[2021-06-23 16:38] annichia commented on #35
Hi @fivetran-joemarkiewicz Oh, interesting, that could make sense! I'll give v0.5.1 a try and let you know if I still see the bug.

[2021-07-01 14:24] fivetran-joemarkiewicz commented on #35
Hi @annichia just wanted to check in if the `v0.5.1` release of the package resolved the original issue you were seeing?

[2021-07-06 17:14] annichia commented on #35
Hi @fivetran-joemarkiewicz - sorry, I've been out of email contact. I'm still seeing the issue with v0.5.1, both in first reply time and first resolution.

[2021-07-07 20:04] fivetran-joemarkiewicz commented on #35
@annichia I have been trying to dig into this issue but can't seem to replicate the issue on my end 🤔

I think it would be most helpful if we were able to set some time up this week during out dbt office hours to dive into this issue live. You can schedule some time using this [link](https://calendly.com/fivetran-solutions-team/fivetran-solutions-team-office-hours?month=2021-07). I look forward to

[2021-07-07 20:14] annichia commented on #35
Great, thanks - I scheduled a slot for this coming Monday and I'll give that fix a try, just in case.

[2021-07-16 23:27] fivetran-joemarkiewicz commented on #35
@annichia I was able to make the changes we discussed and also some additional updates. Would you be able to try the working branch and let me know if everything looks good before merging to `master`?
[code]
Thanks!

[2021-07-19 13:25] annichia commented on #35
Cool, trying this now.

On Fri, Jul 16, 2021 at 7:27 PM Joe Markiewicz ***@***.***>
wrote:

[2021-07-19 15:39] annichia commented on #35
Unfortunately, still seeing unrealistically large numbers in first_resolution_business_minutes and first_reply_time_business_minutes using that new package.

[2021-07-19 15:47] fivetran-joemarkiewicz commented on #35
🤔 I would have thought that the below would have fixed the reply time large numbers...
https://github.com/fivetran/dbt_zendesk/blob/5df4d4e304b0ffec082d82681dd50b04f308e2b6/models/zendesk__ticket_metrics.sql#L178

I believe my updates to the calendar resolution times when applied to business should resolve the error. However, for reply times would you be able to confirm for one of the large reply

[2021-07-19 16:31] annichia commented on #35
It looks like everything with status solved is fixed - the ones that are still showing large numbers are mostly deleted or closed, with a handful pending.

[2021-07-19 16:56] fivetran-joemarkiewicz commented on #35
Okay I see. After thinking about it I understand that the status should not be a dependency in the above calculation. I have removed that dependency and also adjusted the first and full resolution times for business metrics.

Would you be able to run `dbt deps` on the same branch I shared and run your models again to see if these changes fixed the discrepancies?

[2021-07-19 17:42] annichia commented on #35
That fixed all the first_resolution_business_minutes entries!

Still getting some unfeasibly high first_reply_time_business_minutes, but not in the same circumstances - these I'm seeing in cases where first_reply_time_calendar_minutes is null and count_public_comments > 0.

[2021-07-19 18:20] fivetran-joemarkiewicz commented on #35
Nice, we are getting closer! 🎉

Do you see that the count_public_agent_comments is > 0 for those unfeasibly high ones? I wonder if these are in fact null? I added a coalesce to my case when statement to assume a null value as 0 public agent comments. I did just push that change if you want to see if that worked.

[2021-07-19 18:31] annichia commented on #35
Yeah, count_public_agent_comments > 0 for most of the one's I'm seeing

[2021-07-19 18:35] fivetran-joemarkiewicz commented on #35
Interesting, If you take a look at the staging table `stg_zendesk__ticket_comment` for one of those tickets does the first public agent reply date closely correlate to the first reply time from the final table?

I want to confirm with these ones where there are in fact comments that they are not just extremely late reply times.

[2021-07-20 21:29] fivetran-joemarkiewicz commented on #35
@annichia were you able to look into my above comment by chance? I am hoping to merge this and other changes for Zendesk by the end of the week.

[2021-07-21 12:24] annichia commented on #35
Sorry, I'm having some unrelated technical issues and haven't been able to
check this yet. I'll ask my colleague @mjirv if he can take a look.

On Tue, Jul 20, 2021 at 5:30 PM Joe Markiewicz ***@***.***>
wrote:

[2021-07-21 13:51] mjirv commented on #35
Hi @fivetran-joemarkiewicz. I spot checked some of them, and am seeing tickets with very high `first_reply_time_business_minutes` (up to a 499200 minutes) and `count_public_agent_comments` > 0 where the first actual public agent reply time (from `stg_zendesk__ticket_comment`) was within the same day or week.

[2021-07-21 13:53] fivetran-joemarkiewicz commented on #35
Thanks for confirming this @mjirv. The updated case statement must be incorrect on my end. I will look into this some more and get back to you with an update.

[2021-07-22 16:23] fivetran-joemarkiewicz commented on #35
After chatting with @mjirv over in dbt slack the fixes applied to the working branch have resolved the issue. I have since merged and cut a new release for `v0.5.2` of the dbt_zendesk package. This should be live on the dbt hub later today.

Please feel free to open a new issue if you have any other questions or considerations for the package. Thanks again!

[2021-07-22 16:23] #35 closed

[2021-07-30 17:47] msluyter opened #38 "BUG - Dependency resolution issue with dbt 0.20"
**Are you a current Fivetran customer?**
Yes; Mike Sluyter, Software Engineer at GetUpside

**Describe the bug**
Dependency resolution fails with `fivetran/zendesk` == 0.5.2 and `fivetran/zendesk_source` >= 0.4.0 with the following error:

[code]

It looks like the problem is that this package depends on an older version of `zendesk_source` causing a conflict. I drew a picture:

[code]
I tried jus

[2021-07-30 17:55] fivetran-joemarkiewicz commented on #38
Hi @msluyter thanks for opening this issue! We are aware that the latest zendesk_source is compatible with dbt 20 while the latest zendesk package is not. You are also correct that the PR you highlighted does resolve this issue.

We had to coordinate a few updates with dbt-labs before we are able to fully cut the dbt 20 release on the zendesk package, but that should be done by the end of the day.

[2021-07-30 22:43] fivetran-joemarkiewicz commented on #38
@msluyter I was able to merge the PR and cut the `v0.6.0` release for the dbt_zendesk package. This release is currently live on the dbt hub.

Please feel free to open another issue if you have any questions or suggestions for future improvements of the package.

[2021-07-30 22:43] #38 closed

[2021-08-02 18:08] msluyter commented on #38
Thanks!

[2021-09-02 01:43] csaroff opened #39 "BUG - Too many partitions produced by query, allowed 4000, query produces at least 4272 partitions"
**Are you a current Fivetran customer?**
Yes; Chaskin Saroff, Data Engineer at Bstock

**Describe the bug**
Too many partitions produced by `int_zendesk__field_calendar_spine` and `int_zendesk__field_history_pivot`.

[code]

**Steps to reproduce**
Have more than 4000 days worth of field history data in zendesk while using bigquery as your data warehouse.

**Expected behavior**
No error should occu

[2021-09-02 19:49] csaroff commented on #39
It might not hurt to simply ignore data that is more than 4000 days old if the data warehouse is bigquery.

[2021-09-02 20:14] fivetran-jamie commented on #39
hey there @csaroff -- you can expect a more formal solution released in the next week or so, but for the time being, this branch of the package should hopefully work for you without having to exclude any data
[code]

basically, i just changed the [granularity](https://github.com/fivetran/dbt_zendesk/blob/bq-partitions/models/ticket_history/int_zendesk__field_calendar_spine.sql#L4) of the `partitio

[2021-09-03 15:40] gareginordyan opened #40 "BUG - Backlog counts are incorrect"
**Are you a current Fivetran customer?**
Yes.  My name is Garegin -- I am employed at Fivetran :)

**Describe the bug**
`zendesk__ticket_field_history` and `zendesk__ticket_backlog` both contain incorrect values for the backlog count.  It doesn't seem right that the backlog value is the same across the board for all days.

![image](https://user-images.githubusercontent.com/12405840/132031448-d3f84

[2021-09-03 19:10] gareginordyan commented on #40
This isn't really a bug, I just hadn't run the source package

[2021-09-03 19:10] #40 closed

[2021-09-04 12:15] pblankley opened #41 "BUG - Package compilation does not respect the `using_organization_tags` field"
**Are you a current Fivetran customer?**
Consultant working with Designs for Health

**Describe the bug**
When setting the `using_organization_tags` variable to `False` I get the following compilation error:

[code]

Looking at your source code, this may be a dbt issue because it looks like the reference is contained inside of an if statement.

**Steps to reproduce**
1. Download this package and d

[2021-09-07 14:23] fivetran-joemarkiewicz commented on #41
Hi @pblankley thanks for opening this issue.

It looks like you are setting the variable within the source package variable configuration, but this configuration is also needed within the transform model (which is why you see the error occurring within the intermediate `int_zendesk__organization_aggregates` model.

You can resolve this error by either setting the `using_organization_tags` variable

[2021-09-07 14:43] pblankley commented on #41
This worked perfectly! Thanks for the great write up @fivetran-joemarkiewicz 🙌

[2021-09-07 14:43] #41 closed

[2021-09-07 18:52] fivetran-jamie commented on #39
^ did this work for you btw? @csaroff

[2021-09-07 18:58] csaroff commented on #39
@fivetran-jamie I haven't gotten a chance to try it out yet, but will try soon and let you know. Thanks!

[2021-09-08 20:18] csaroff commented on #39
@fivetran-jamie Looks like there might be a bug with this.

Here's what I'm seeing when I do a `dbt run`

[code]

Looks like the same error is showing on your [circleci build](https://app.circleci.com/pipelines/github/fivetran/dbt_zendesk/152/workflows/2ec2fffb-00f0-4d73-8e13-d3a9c38a3df7/jobs/154?invite=true#step-107-201) for that branch.

[2021-09-08 22:38] fivetran-jamie commented on #39
@csaroff ack somehow missed the circle error 🤦 it _should_ be working now -- `week` is not actually a supported granularity level so switched it to `month`

[2021-09-09 17:25] csaroff commented on #39
No worries. I'll try again today. Thanks!

[2021-09-09 18:59] csaroff commented on #39
Looks like it cleared up the previous error, but now I'm getting:

[code]

[2021-09-10 16:37] fivetran-jamie commented on #39
Ah shoot -- and are you trying to run a full refresh?

Also it might be more efficient to troubleshoot this over a call if you'd like! You can book an office hours session [here](https://calendly.com/fivetran-solutions-team/fivetran-solutions-team-office-hours?month=2021-09) if that sounds good

[2021-09-10 17:02] fivetran-jamie commented on #39
oh one idea .... this may be because `int_zendesk__calendar_spine` is ephemeral by default (so that whole model is just a CTE in `int_zendesk__field_calendar_spine`). could you try adding the following to your dbt_project.yml?
[code]

[2021-09-10 19:36] csaroff commented on #39
I don't think it ever successfully built `int_zendesk__field_calendar_spine` so I guess it's doing a full refresh even though I'm not using the `--full-refresh` flag.

Tragically, it's still failing :(

[code]

I can confirm that `int_zendesk__calendar_spine` is being built as a table rather than a view

![image](https://user-images.githubusercontent.com/7225723/132907645-49a41d79-a464-4a3c-8ff6-4

[2021-09-13 18:11] jackiexsun opened #42 "FEATURE - Add number of ticket handoffs to zendesk__ticket_metrics"
**Are you a Fivetran customer?**
I work at Fivetran :)

**Is your feature request related to a problem? Please describe.**
This is a request to add a new metric to zendesk__ticket_metrics, which is the `number of ticket handoffs`. This is defined as number of distinct agents who touched (commented) on the ticket.

**Describe the solution you'd like**
I believe this could be calculated within the `

[2021-09-14 19:41] fivetran-jamie commented on #39
Ok got a few more tricks up my sleeve....

currently, `int_zendesk__field_calendar_spine` associates every ticket with every day since the creation of the ticket, regardless of its age or status. i am going to try adapting our code from the [jira dbt package](https://github.com/fivetran/dbt_jira/blob/master/models/intermediate/field_history/int_jira__issue_calendar_spine.sql#L68), which caps the t

[2021-09-15 16:05] fivetran-joemarkiewicz commented on #42
Hi @jackiexsun thanks so much for opening your first feature request for the fivetran zendesk package!! 🎉 🕺

After taking a quick look into your request I believe you are right that this should be easily integrated into the `int_zendesk__comment_metrics` model and surfaced in the final models. Our team will most likely be able to tackle this at the start of next sprint. Or, if you have been able t

[2021-09-15 21:44] csaroff commented on #39
Hmm. Still getting `Query Exceeded Resource Limits`

[code]

[2021-09-16 19:01] fivetran-jamie commented on #39
ok that seems to have made it worse lol -- i will get back to ya soon with the other solution...

[2021-09-16 22:05] fivetran-jamie commented on #39
@csaroff alright wanna try it out again? 🤞

[2021-09-19 04:54] csaroff commented on #39
I ran `dbt clean && dbt deps && dbt run  --model zendesk`

[code]

Sooooo close!

[2021-09-21 21:43] fivetran-jamie commented on #39
ahhh -- I think at this point it might be best / most efficient to troubleshoot this over a call if you're down! could you book one or two 15 minute slots of our office hours [here](https://calendly.com/fivetran-solutions-team/fivetran-solutions-team-office-hours?month=2021-09)?

[2021-09-28 23:11] wuservices opened #46 "BUG - int_zendesk__calendar_spine doesn't use `zendesk_intermediate` schema"
**Are you a current Fivetran customer?**
Jon Wu, Architect, Paper Culture

**Describe the bug**
`int_zendesk__calendar_spine` model is not created in the `zendesk_intermediate` schema like the other intermediate models.

**Steps to reproduce**
1. `dbt run`
2. Check schema

**Expected behavior**
`int_zendesk__calendar_spine` uses `zendesk_intermediate`

**Project variables configuration**
N/A

**Pa

[2021-09-28 23:39] fivetran-jamie commented on #39
@csaroff if that doesn't work for you tho, i've also gone ahead and introduced a workaround to simply filter out old data. this happens via a `ticket_field_history_timeframe` variable, which limits ticket field history to the last X many years you set the variable to, and by default all data is included (code [here](https://github.com/fivetran/dbt_zendesk/blob/bq-partitions/models/utils/int_zendes

[2021-09-29 18:46] fivetran-joemarkiewicz commented on #46
Hey @wuservices thanks for opening this issue!

It looks like we do not designate the schema as it is materialized as ephemeral by default
https://github.com/fivetran/dbt_zendesk/blob/fc30839a4bbf781ee11ff35ba99ab791bc7b4fcf/dbt_project.yml#L26

What you could do to update this on your end is by adding a `+schema` configuration to your models config so the calendar spine will write to the same int

[2021-09-30 02:55] wuservices commented on #46
Hi @fivetran-joemarkiewicz thanks for reading my mind even though I didn't share my config! Silly me that's absolutely it. I'll add that to our config.

Any luck on making things more efficient, especially with the calendar spine and older tickets? The Zendesk models take a while for us to run, and while `table` materialization prevented us from hitting a limit, I think the queries are still fairl

[2021-10-05 22:54] fivetran-joemarkiewicz commented on #46
Hi @wuservices

Glad that did the trick! We actually have been able to do some enhancements to the calendar spine in the PR #48 that will be included in the next release of this package! Feel free to take a look at some of the updates made as it will help limit the number of historical tickets created if desired.

[2021-10-06 13:20] emiliedecherney opened #49 "BUG - reply_time fields in ticket_metrics not populating"
**Are you a current Fivetran customer?**
<Yes, Emilie DeCherney, Director of Analytics, Pendo>

**Describe the bug**
<First reply times not accurately logged in zendesk__ticket_metrics.first_reply_time_calendar_minutes and zendesk__ticket_metrics.first_reply_time_business_minutes for tickets where there is a clear response shown in the Zendesk UI>

**Steps to reproduce**
Run example query:
select

[2021-10-07 14:00] fivetran-joemarkiewicz commented on #49
Hi @emiliedecherney my appologies I missed the fivetran_log upgrade since `v0.3.0` uses the old version as well.
[code]

[2021-10-08 21:54] fivetran-joemarkiewicz commented on #49
@emiliedecherney After doing some digging I have been able to find that our package currently takes into consideration first reply time after an external comment is created. Taking a look at the screenshot you provided it looks like there has not been an external comment yet. Is that the case?

Additionally, do you see the nature of tickets commonly being created without a customer opening the tic

[2021-10-12 14:46] fivetran-joemarkiewicz commented on #49
Hi @emiliedecherney thanks for this confirmation. I also was able to find [Zendesk Support Metric Definitions](https://support.zendesk.com/hc/en-us/articles/360022182114#topic_cyq_fr4_l2b) and see how Zendesk is calculating these metrics on their end.
![image](https://user-images.githubusercontent.com/74217849/136976940-61a7d0d2-92c4-4def-af40-7efd488f1c91.png)

When we originally developed the co

[2021-10-12 15:02] fivetran-joemarkiewicz commented on #49
That would be great!

I will plan to do an audit of the metrics we originally had in the first iteration of this package. A few months ago we added a suite of metrics based off the definitions highlighted by Zendesk in the doc I shared above, but we did not revisit metrics we originally had in this package. This will be a good exercise to confirm those definitions align with what we have in the pa

[2021-10-13 17:17] emiliedecherney commented on #49
Hi Joe,

I've tested with the updated package and reply times appear as expected!

I know you are also auditing other metrics against Zendesk's definitions.
To help with that, I did notice a few other metrics worth auditing:

   - total_agent_replies (With the latest package update, this matches more
   closely to what we were seeing when pulling directly from Zendesk, but does
   not align exactl

[2021-10-19 11:39] emiliedecherney commented on #49
Thank you Joe.
Would you or someone at Fivetran be able to help us work through the dbt
upgrade? We've attempted this in the past but ran into issues.

Best,
Emilie

On Mon, Oct 18, 2021 at 9:56 AM Joe Markiewicz ***@***.***>
wrote:

[2021-10-19 14:23] fivetran-joemarkiewicz commented on #49
What types of issues had you run into in the past? Maybe I can help point you in the right direction here?!

[2021-10-20 20:47] fivetran-joemarkiewicz commented on #49
@emiliedecherney sounds good! I was just doing some final tests before the package is released.

One question I want to run by you. If when an agent opens a ticket for a customer and adds a comment at the same time of the ticket creation, but another public comment has not been made yet would you expect the reply time to be 0 or null?

I have done some digging into our own Zendesk data and see tha

[2021-10-20 22:07] fivetran-joemarkiewicz commented on #39
@csaroff the latest release v0.7.0 (which includes this request) has just be cut!! You can expect this release to be live on the [dbt hub](https://hub.getdbt.com/fivetran/zendesk/latest/) at the top of the hour.

I will leave this ticket open until the release is live. Once the latest release is live I will close the ticket and please feel free to open another Github issue if you have any further

[2021-10-20 22:59] #49 closed, assigned to fivetran-joemarkiewicz

[2021-10-27 22:03] jackiexsun opened #51 "BUG - SLA_policies model doesn't have correct is_sla_breach"
**Are you a current Fivetran customer?**
I work at Fivetran :)

**Describe the bug**
zendesk__sla_policies doesn't always correctly identify SLA breaches (missed SLAs).

**Steps to reproduce**
For example ticket_id = 18717
[code]
is breached but in Zendesk, it is achieved
<img width="1003" alt="Screen Shot 2021-10-27 at 2 59 22 PM" src="https://user-images.githubusercontent.com/38146057/139153429-

[2021-11-05 22:19] fivetran-joemarkiewicz commented on #51
Hey @jackiexsun it was great chatting today! After we discussed how there may be a discrepancy with how Zendesk is calculating these metrics I decided to do some more digging into what publicly available docs are there on how Zendesk is calculating the `first_reply_time` sla achieved/breach events. After doing some digging I found [Zendesk's documentation](https://support.zendesk.com/hc/en-us/arti

[2021-11-19 13:00] alexei-colvin opened #53 "BUG - First Reply Time metrics have mismatches"
**Are you a current Fivetran customer?**
Yes. My name is Alexei, Analytics Engineer working at Colvin.

**Describe the bug**
The metrics First Reply Time for both, business hours and calendar hours, are having different numbers compared to the Fivetran UI for the same ticket ids.

**Steps to reproduce**
1. Go to Zendesk queries editor. Select ticket_id as row, select First Reply Time - Business Ho

[2021-11-20 14:07] fivetran-joemarkiewicz commented on #53
Hi @alexei-colvin thanks so much for opening this issue.

It was great chatting with you the other day and I am looking into this discrepancy as we speak. I will post back here once I have an update and a branch for you to test out. 😄

[2021-11-22 17:57] fivetran-joemarkiewicz commented on #53
Hi @alexei-colvin! I hope you had a great weekend.

I was able to investigate these discrepancies a bit more and found some ticket nuances within Zendesk the package was not accounting for. Would you be able to test the below branch version of the package and let me know if this resolves the `calendar` first reply times in question?

[code]

Once you replace your existing version of the package de

[2021-11-22 18:27] alexei-colvin commented on #53
Hello @fivetran-joemarkiewicz I hope you had a great weekend too! Thank you for working in this issue, and for the productive chatting last week!

Regarding this revision, I had tried and yes, the **first_reply_time_calendar_minutes** metric now match for all the tickets, super! There is still a lot of difference in the metric **first_reply_time_business_minutes** (more than 1000 minutes for a sin

[2021-11-23 12:33] alexei-colvin opened #54 "BUG - Requester Wait Time metrics have mismatches"
**Are you a current Fivetran customer?**
Yes. My name is Alexei, Analytics Engineer working at Colvin.

**Describe the bug**
The metric Requester Wait Time is having different numbers compared to the Fivetran UI for the same ticket ids.

**Steps to reproduce**
1. Go to Zendesk queries editor. Select ticket_id as row, select Requester Wait Time - Business Hours and Requester Wait Time - Calendar ho

[2021-11-23 15:11] fivetran-joemarkiewicz commented on #53
@alexei-colvin that's great to hear!

In regards to the `first_reply_time_business_minutes` I will most likely not (but will let you know if I find anything in my investigations that will result in an update) be updating this metric to reflect the Zendesk UI as our opinion is that this does not accurately capture the true length of time when tickets are exchanging schedules. However, I will put to

[2021-11-23 15:16] fivetran-joemarkiewicz commented on #54
Hey @alexei-colvin thanks for opening this issue and digging into our Zendesk metrics! 👀

Does it seem to be that almost all `_calendar` wait times match (if off by a minute or so)? If so, I want to confirm that the `_business` wait times are being impacted by our transformation logic around the tickets changing schedules. In addition to the comment I created within Issue #53, I will look into thi

[2021-11-30 10:52] alexei-colvin commented on #54
Hello @fivetran-joemarkiewicz Sorry for the delay. Yes, it seems all _calendar wait times are matching. Regarding the _business numbers, they are very different respect to the Zendesk UI numbers. Are you going to do some updates here or not? I would really appreciate it if you could explain to me what's going on below, to understand why you think the package's results are better than Zendesk's.

[2021-11-30 10:53] alexei-colvin commented on #53
hello @fivetran-joemarkiewicz Thanks! I would really appreciate it if you could explain to me what's going on below, to understand why you think the package's results are better than Zendesk's regarding business times.

[2021-11-30 15:03] fivetran-joemarkiewicz commented on #53
Hi @alexei-colvin apologies for the delayed response. Last week was Thanksgiving and I was not able to complete the explanation. I will post back within this Issue and Issue #54 with our DECISIONLOG and also will plan to include the DECISIONLOG.md within the package so others may understand the reason for our transformation logic.

I hope to respond back here by tomorrow with the completed DECISIO

[2021-12-01 17:40] fivetran-joemarkiewicz commented on #53
@alexei-colvin thank you again for you patience with me putting together the DECISIONLOG.md for the business time metrics. This was a lot more intensive to document than I was initially intending haha

You can see the full writeup of this decision logic within the [DECISIONLOG](https://github.com/fivetran/dbt_zendesk/blob/bugfix/first-reply-time-update/DECISIONLOG.md) I have in the development bra

[2021-12-06 17:25] fivetran-joemarkiewicz commented on #53
Hi @alexei-colvin just wanted to check in if you had a chance to read through the DECISIONLOG above and if it helps answer your question about the business metrics differences between the dbt package and Zendesk?

[2021-12-06 20:55] juanbriones opened #55 "BUG - Issues with timestamptz data type"
**Are you a current Fivetran customer?**
Juan Francisco Briones, Data Engineer, Hopin.

**Describe the bug**
Apparently some fields from the original Zendesk data are in `timestamp with timezone (timestamptz)` and that makes the `dbt_utils.datediff` and `dbt_utils.dateadd` functions break.

**Steps to reproduce**
Just run the `dbt_zendesk` package with date fields in timestamptz.

**Expected behav

[2021-12-14 14:52] juanbriones commented on #55
Hi Joe, how are you?

I will test it and let you know if I have any issues.

Thank you!

Best regards,

El lun, 13 dic 2021 a las 13:21, Joe Markiewicz ***@***.***>)
escribió:

--
*Juan Francisco Briones*

[2021-12-14 16:06] annichia opened #56 "BUG - runs fail with error in int_zendesk__field_history_pivot"
**Are you a current Fivetran customer?**
Yes. Maria Riolo, Data Analyst at Zearn

**Describe the bug**

Upon running, we get the error:

[code]

Our daily runs started failing Dec 10, 2021, but at the time we hadn't made any changes to our own code since Dec 3.

**Steps to reproduce**

`dbt run -m int_zendesk__field_history_pivot`

(or just `dbt run`)

**Project variables configuration**

[code]

[2021-12-14 16:08] fivetran-joemarkiewicz commented on #56
Hi @annichia thanks so much for opening this issue!

this is actually an issue we saw come up in another Redshift package user a few days ago. The next release of the Zendesk package (this week) will rename the `pivot` CTE to `pivots` so this issue will no longer happen for Redshift users. I will post back here once we have merged and released the fix.

[2021-12-17 19:43] fivetran-joemarkiewicz commented on #51
@jackiexsun thanks so much for your raising this issue and for helping come to a conclusion on the resolution within PR #52  😄.

These changes are now live within the latest `v0.7.1` release of the zendesk package. Please feel free to open another issue if you encounter any other questions, or want to discuss this ticket further.

Thanks again!

[2021-12-17 19:43] #51 closed

[2021-12-17 19:45] fivetran-joemarkiewicz commented on #56
Hey @annichia 👋

Thanks again for opening this issue. I wanted to share some news that this fix have been applied to the latest `v0.7.1` release of the zendesk package! Feel free to upgrade to the latest version and you should see the error be resolved.

Feel free to open another issue if you encounter any other bugs or want to chat more about this ticket. Thanks again!

[2021-12-17 19:45] #56 closed

[2021-12-20 20:25] fivetran-joemarkiewicz commented on #55
Hi @juanbriones this fix is now live in the current version of `dbt_zendesk`! Feel free to use the latest version of the package and you should see the issue has been resolved.

I will be closing this issue as the current version of the package addressed the issue. Thank you again for all your help in assessing what this issue was, and how to solve it. We are extremely grateful for your contributi

[2021-12-20 20:25] #55 closed

[2022-01-04 00:39] alanzfu commented on #53
@fivetran-joemarkiewicz would this same logic also potentially affect the ticket_metrics `URL` as well?

[2022-01-04 14:45] fivetran-joemarkiewicz commented on #53
Hi @alanzfu 👋 Would you be able to elaborate a bit more on how the ticket_metrics `URL`?

[2022-01-04 18:01] alanzfu commented on #53
Apologies, I just realized that the zendesk__ticket_metrics URL refers to the URL of the ticket, whereas the ticket_metrics.url property from the API refers to the URL of the ticket_metrics JSON. Ignore comment!

[2022-01-10 20:15] fivetran-joemarkiewicz opened #62 "BUG - UTC Timezones for schedules need to be reworked"
**Are you a current Fivetran customer?**

Fivetran created PR

**Describe the bug**

It was found that the `start_time_utc` and `end_time_utc` fields within the `ticket_schedules` table are no longer accurate. We will want to add the `daylight_savings` and `timezone` tables to the package and leverage the `start_time` and `end_time` fields for the schedules.

We will then convert these schedules t

[2022-03-01 11:13] james-smith-bbm opened #66 "BUG - SLA policies model failling uniqueness test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I recently upgraded from v0.5.2 to v0.7.1 of the Zendesk package, and have successfully done a full refresh `dbt run` of all zendesk models since. I now receive a `dbt test` failure, saying that the `sla_event_id` column in the `sla_policies` model is not unique.

I have debugged this as be

[2022-03-01 16:41] fivetran-joemarkiewicz commented on #66
Hi @james-smith-bbm thanks so much for raising this issue and bringing the test failure to our attention. 👀

The code you pointed out is **exactly** where this duplication is happening. We originally added this join condition to help capture the `sla_policy_name` when it was not set at the same time as the actual `sla_policy`. We found there would be occurrences would be set just a few seconds bef

[2022-03-01 20:40] james-smith-bbm commented on #66
Hi @fivetran-joemarkiewicz, thanks for taking a look and confirming it's in hand. I tried that branch, but couldn't get past dependency version issues. We're on dbt v0.21.1, and it sounds like your branch requires a version of dbt-utils that's incompatible with this:

[code]

[2022-03-01 21:15] fivetran-joemarkiewicz commented on #66
Hi @james-smith-bbm thanks so much for validating this issue is resolved on your end in the working branch. In the meantime, I will open a PR for this and ensure the fix will be integrated into the next `0.8.1` release of the package.

Feel free to follow this issue until release and thanks again for raising this issue with us!

[2022-03-01 21:19] fivetran-joemarkiewicz commented on #62
This has been resolved in the latest release of the zendesk package

[2022-03-01 21:19] #62 closed

[2022-03-01 21:20] fivetran-joemarkiewicz commented on #53
Closing this issue as the merged PR above addresses the issue identified. Please feel free to open the ticket if this issue still persists.

[2022-03-01 21:20] #53 closed

[2022-03-02 16:19] fivetran-joemarkiewicz commented on #66
Just wanted to provide an update here that the PR mentioned above will be reviewed during my teams next sprint (starting 3/9) and should be expected to be integrated into the next release following PR approval.

[2022-03-21 16:23] #66 closed

[2022-03-28 16:22] fivetran-joemarkiewicz commented on #54
Hi All,

The latest release of the package should include the fix that closes the discrepancy of the business metrics for reply time. Feel free to open a new issue if the discrepancy still persists.

Thank you!

[2022-03-28 16:22] #54 closed

[2022-05-04 18:00] fbertsch opened #71 "[Bug] Ephemeral models fail when used with run_query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

The ephemeral materialization of some staging/tmp tables cause failures during the compilation stage. Specifically, `int_zendesk__calendar_spine` depends on the model `stg_zendesk__ticket`. However it's not explicit: the referenced table is used for a `run_query` macro. When that macro runs

[2022-05-04 18:00] fbertsch commented on #71
Workaround, for now, is to materialize these tables as views.

[2022-05-04 18:51] fbertsch commented on #71
Followup: When these are materialized as views, compilation fails:

[code]

[2022-05-09 14:30] fivetran-joemarkiewicz commented on #71
Hi @fbertsch thanks so much for opening this issue.

Looking at the issue you described above, it seems this may be an issue with `dbt compile` not succeeding before `dbt run` is executed. Since the calendar spine model depends on the `stg_zendesk__ticket` model, it cannot compile because that model does not exist yet. I believe since you have run the model, you can execute `dbt compile` or `dbt r

[2022-05-09 19:51] fbertsch commented on #71
@fivetran-joemarkiewicz thank you for responding! On my end, I've tried two things.

1. Using `ephemeral` materialization for `stg_zendesk__ticket`:
When I run it this way, it doesn't matter whether the model is available as a view/table in Snowflake or not (I've tried it both ways, which of course doesn't really make sense for an ephemeral materialization). Both ways end up with the same DBT erro

[2022-05-09 19:52] fbertsch commented on #71
Aside: This could possible be filed upstream, to try and get DBT to materialize ephemeral models correct during the `run_query` macro if run during compilation. I can't imagine this is a straightforward fix, though.

[2022-05-09 20:43] fivetran-joemarkiewicz commented on #71
@fbertsch, unfortunately I don't believe that will be a straightforward fix 😢 . However, I think your solution is probably the best one! I noticed you mentioned you were open to creating a PR! Let me know if you are still interested in making this contribution as we would love to incorporate this solution so others don't experience the same issue as you. Let me know if you are still open to contri

[2022-05-11 21:20] lucascrespo88 opened #72 "[Feature] ADD Databricks support to package"
### Is there an existing feature request for this?

- [X] I have searched the existing issues

### Describe the Feature

Let the dbt package support a Databricks destination

### Describe alternatives you've considered

_No response_

### Are you interested in contributing this feature?

- [ ] Yes.
- [ ] Yes, but I will need assistance and will schedule time during your [office hours](https://cale

[2022-05-23 15:23] fivetran-marioamaya commented on #72
Prospect Kueski is very interested in leveraging this package for their Databricks based deployment

[2022-06-10 14:16] fivetran-joemarkiewicz opened #75 "[Bug] Multi-touch ticket resolution logic could be adjusted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Initially brought to our attention by @tonytusharjr

The current logic within the `zendesk__ticket_metrics` model that calculates the multi-touch resolution could to be updated to ensure a ticket doesn't have both double and multi touch results. Below is the logic in question.

https://gith

[2022-06-13 13:58] nbenezri opened #76 "[Bug] failures on dbt run on big zendesk schema"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

The table `zendesk__ticket_field_history`  and `zendesk__ticket_metrics` are not able to incrementally refresh due to size.

When I run dbt run on zendesk package from fivetran I get the log below. it fails on those two tables as they are too big and consume too much resources until refshif

[2022-06-13 14:21] fivetran-joemarkiewicz commented on #76
Hi @nbenezri this is really interesting as I haven't seen this error occur with the Zendesk package previously 🤔

Would you be open to sharing the approximate volume of your Zendesk ticket data? We do have a variable in place that will allow you to restrict the time frame in years for tickets (the default is 10 years).

If you are only concerned about the recent years tickets, then you can limit t

[2022-06-13 14:58] fivetran-joemarkiewicz commented on #76
Hey @nbenezri,

The `ticket_field_history_extension_months` variable actually creates more data. In a sense it will extend the ticket historical data by the variable (default is 1 month) to capture any changes within the ticket after it is closed.

I would actually suggest removing this variable and instead just using `ticket_field_history_timeframe_years` and setting to 1 year.

[2022-06-14 05:48] nbenezri commented on #76
That cleared one table from failing out. But one is still failing.

[code]

<img width="1497" alt="image" src="https://user-images.githubusercontent.com/82036810/173502628-2768aa87-9ab9-4067-935a-5b4e5181db30.png">

[2022-06-14 07:42] nbenezri commented on #76
running `dbt run --full-refresh` sorted the issue. I figured I needed that after the change in `dbt_project.yml`.

[2022-06-14 07:42] #76 closed

[2022-06-16 23:29] #75 closed

[2022-09-02 18:37] fivetran-joemarkiewicz commented on #72
Hi All, I just wanted to share an update that our team is currently working to make the package compatible with Databricks! You should see a release next week to support Databricks.

[2022-09-06 23:39] fivetran-jamie commented on #72
released with v0.9.0!

[2022-09-06 23:39] #72 closed

[2022-10-10 15:52] fivetran-reneeli commented on #71
Hi @fbertsch , we've included this change in our most recent [release](https://github.com/fivetran/dbt_zendesk/releases/tag/v0.9.1)! Thanks for raising this and let us know if there's anything else!

[2022-10-10 15:52] #71 closed

[2022-10-17 23:46] brian-robillard1 opened #82 "[Bug] Comments from former employees are classified as an "external_comment", throwing off downstream metrics"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

This issue is manifesting in `zendesk__ticket_metrics.first_reply_time_calendar_minutes` being null for tickets where the agent replied.

The underlying issue is `stg_zendesk__user.role` is `end-user` for former employees.

Tracing this issue from start to finish.
1. `zendesk__ticket_metric

[2022-10-24 15:31] fivetran-joemarkiewicz commented on #82
Hi @brian-robillard1 thanks so much for opening this Bug report.

This is actually something we have come across before, and even see with our own internal implementation. As you mentioned above, this goes back to the `user` source table and the fact that it does not track historical changes. Therefore, we are unable to see what the users role was from a previous time. 😞

This could possibly be so

[2022-10-31 18:35] fivetran-joemarkiewicz opened #84 "[Feature] New Zendesk Reply Metrics End Model"
### Is there an existing feature request for this?

- [X] I have searched the existing issues

### Describe the Feature

Currently, the models produced from this package are typically at the ticket grain. However, there are various instances where the analysts require a lower level grain to abstract actionable insights from the Zendesk data.

Therefore, this Feature Request is to create a new end

[2022-11-03 17:41] mhadole-tc opened #85 "[Feature] support for multiple zendesk connectors"
### Is there an existing feature request for this?

- [X] I have searched the existing issues

### Describe the Feature

Feature to use this package for multuple Zendesk connectors simultaneously.

This feature is already implemented in dbt-xero packages: [unioning-multiple-xero-connectors](https://github.com/fivetran/dbt_xero#unioning-multiple-xero-connectors)

### Describe alternatives you've co

[2022-11-03 18:53] fivetran-joemarkiewicz commented on #85
Hi @mhadole-tc thanks so much for opening this Feature Request. I think this would be a great feature enhancement.

I am curious, what is the use case in your situation for multiple Zendesk connectors?

[2022-11-03 19:12] mhadole-tc commented on #85
We have separate Zendesk instances for every line of business but the requirement is to have all the analytics in one dashboard/place. ideally, I am looking for combined  Zendesk models with individual Zendesk instance identier in models.

[2022-11-09 15:25] fivetran-joemarkiewicz commented on #85
@mhadole-tc that makes sense to me and I can understand why you would want to have all the Zendesk models under one hood.

This is feature request is most likely something we will pick up in a future quarter. Our next quarterly planning initiative will likely take place after the holidays. I will be sure to post back here once we decide to pick this up and integrate into the Zendesk package!

Howe

[2022-11-15 14:02] jflatter opened #86 "[Bug] < int_zendesk__schedule_spine > may be missing rows after DT ends"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I have spent a good deal of time trying to figure out why the table sla_policy only has rows as recent as Oct 30 2022.

After digging, I found the intermediate table called int_zendesk__schedule_spine, which only has rows with values for "valid until" up to Oct 30 2022 as well.  All other t

[2022-11-15 15:00] jflatter commented on #86
correction:

dbt Version
version: '1.3.0'

[2022-11-16 09:32] jflatter commented on #86
I think I do need to use the daylight_time component as we run SLAs based on business hours.

I am not sure that the daylight_time source table (as synced by Fivetran) should have rows for the period between DT, such as Oct 30 - March 27.  Here is a sample of recent rows in the raw data table:

{
  "time_zone": "London",
  "year": "2022",
  "_fivetran_synced": "2022-10-27 12:57:07.645000 UTC",
  "

[2022-11-17 21:51] fivetran-joemarkiewicz commented on #86
Hey @jflatter thanks for sharing this detail. The `int_zendesk__schedule_spine` should create records for these non DT periods even though the source table does not provide them. I am curious what the most recent records of the materialized `int_zendesk__schedule_spine` model look like. Would you be able to materialize this model as a table and see if this is creating records for the in-between pe

[2022-11-23 15:11] fivetran-joemarkiewicz commented on #86
@jflatter I noticed you scheduled some time to discuss during our office hours, but you were not able to attend. The office hours are always open if you would like to schedule another call with our team.

Additionally, I was able to loop up with our engineering team and discovered that they released an update to the connector to adjust the `daylight_time` source table to account for the recent day